@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&family=Bellefair&display=swap");
.dot {
  width: 60%;
  margin: 0 auto;
}

.dot__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dot__list-item {
  width: 1rem;
  height: 1rem;
  position: relative;
}

.dot__button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 0px;
  cursor: pointer;
  position: absolute;
  -webkit-transition: all ease-out 250ms;
  transition: all ease-out 250ms;
}

.dot__button:hover {
  border: 1px solid #fff;
}

.dot__button--active {
  background-color: white;
  border: 1px solid #fff;
  color: #0b0d17;
}

.dot__button--inactive {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #fff;
}

.numbered__list {
  counter-reset: numeral-counter;
}

.numbered__list-item {
  color: #fff;
  width: 4rem;
  height: 4rem;
  position: relative;
}

.numbered__button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0px;
  cursor: pointer;
  -webkit-transition: all ease-out 250ms;
  transition: all ease-out 250ms;
}

.numbered__button::before {
  font-family: 'Bellefair', serif;
  font-size: 1.6rem;
  position: absolute;
  counter-increment: numeral-counter;
  content: counter(numeral-counter);
}

.numbered__button:hover {
  border: 1px solid #fff;
}

.numbered__button--active {
  background-color: white;
  border: 1px solid #fff;
  color: #0b0d17;
}

.numbered__button--inactive {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #fff;
}

.named {
  width: 100%;
}

.named__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.named__button {
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2.3625px;
  line-height: 17px;
  text-transform: uppercase;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  position: absolute;
  z-index: 1;
}

.header__logo {
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__hamburger {
  width: 2rem;
  height: 2rem;
  position: relative;
  display: block;
}

.logo {
  width: 2rem;
  height: 2rem;
  position: relative;
  display: block;
}

.sub-header {
  font-family: 'Bellefair', serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 32px;
}

.sub-header--num {
  opacity: 0.25;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5485px);
          backdrop-filter: blur(81.5485px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.nav__exit {
  width: 2rem;
  height: 2rem;
  position: relative;
  display: block;
}

.nav--open {
  max-width: 15rem;
}

.nav--closed {
  max-width: 0;
}

.nav-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-list-item {
  overflow: hidden;
}

.nav-list-item__text {
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2.3625px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: normal;
}

.nav-list-item__text--number {
  display: inline-block;
  font-weight: bold;
  width: 1rem;
}

.section-header {
  font-family: 'Barlow Condensed', sans-serif;
  color: #d0d6f9;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 4.75px;
  color: #fff;
  font-weight: 400;
}

.section-header__num {
  opacity: 0.25;
  font-weight: 700;
}

.landing {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #0b0d17 url("../public/assets/home/background-home-mobile.jpg") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__heading-five {
  font-family: 'Barlow Condensed', sans-serif;
  color: #d0d6f9;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 4.75px;
  font-size: 16px;
}

.landing__heading-one {
  font-family: 'Bellefair', serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 150px;
  line-height: 172px;
  font-size: 80px;
}

.landing__text-body {
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  font-size: 15px;
  color: #d0d6f9;
  text-align: center;
}

.landing__button {
  font-family: 'Bellefair', serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
  color: #0b0d17;
  font-size: 20px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.dest-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.destination {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #0b0d17 url("../public/assets/destination/background-destination-mobile.jpg") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destination__image {
  width: 14rem;
  height: 14rem;
  position: relative;
  display: inline-block;
  margin: 2rem;
}

.destination-info__heading {
  font-family: 'Bellefair', serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 100px;
  text-align: center;
}

.destination-info__text {
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
  text-align: center;
}

.destination-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.destination-stats__item {
  text-align: center;
}

.destination-stats__item-heading {
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2.3625px;
  line-height: 17px;
  text-transform: uppercase;
  color: #d0d6f9;
}

.destination-stats__item-stat {
  font-family: 'Bellefair', serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 32px;
}

.crew {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #0b0d17 url("../public/assets/crew/background-crew-mobile.jpg") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crew__image {
  width: 14rem;
  height: 14rem;
  position: relative;
  display: inline-block;
  margin: 2rem auto;
}

.crew-info__role {
  font-family: 'Bellefair', serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 32px;
  opacity: 0.5;
}

.crew-info__name {
  font-family: 'Bellefair', serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 56px;
}

.crew-info__bio {
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
}

.tech {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #0b0d17 url("../public/assets/technology/background-technology-mobile.jpg") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech__image {
  width: 14rem;
  height: 14rem;
  position: relative;
  display: inline-block;
  margin: 2rem;
}

.tech-info__sub {
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2.7px;
  line-height: 19px;
  text-transform: uppercase;
  color: #d0d6f9;
}

.tech-info__name {
  font-family: 'Bellefair', serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 56px;
}

.tech-info__description {
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
}
/*# sourceMappingURL=globals.css.map */