// ---------FONT IMPORTS--------------
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700&family=Bellefair&display=swap');

// -----------COLOUR VARIABLES--------------
$dark-blue: #0b0d17
$light-blue: #d0d6f9
$basic-white: #fff
$half-transparent-white: rgba(255, 255, 255, 0.5)
$quarter-white: rgba(255, 255, 255, 0.25)
$nav-white: rgba(255, 255, 255, 0.04)

// ------------FONT GENERALS------------------
@mixin bellefair-white
  font-family: 'Bellefair', serif
  color: $basic-white
  text-transform: uppercase

@mixin barlow-white
  font-family: 'Barlow Condensed', sans-serif
  color: $basic-white

@mixin barlow-blue
  font-family: 'Barlow Condensed', sans-serif
  color: $light-blue
  text-transform: uppercase

// -------------FONT SPECIFICS-----------------
@mixin heading-one 
  @include bellefair-white
  font-size: 150px
  line-height: 172px

@mixin heading-two
  @include bellefair-white
  font-size: 100px

@mixin heading-three
  @include bellefair-white
  font-size: 56px

@mixin heading-four
  @include bellefair-white
  font-size: 32px

@mixin heading-five
  @include barlow-blue
  font-size: 28px
  letter-spacing: 4.75px

@mixin subheading-one
  @include bellefair-white
  font-size: 28px
  line-height: 32px

@mixin subheading-two
  @include barlow-white
  font-size: 14px
  letter-spacing: 2.3625px
  line-height: 17px
  text-transform: uppercase

@mixin nav-text
  @include barlow-white
  font-size: 16px
  letter-spacing: 2.7px
  line-height: 19px
  text-transform: uppercase
  
@mixin body-text
  @include barlow-white
  font-size: 18px
  line-height: 32px

//---------------CONTENT PICKER COMPONENT--------------------
.dot
  width: 60%
  margin: 0 auto

  &__list
    display: flex
    justify-content: space-evenly
    align-items: center

    &-item
      width: 1rem
      height: 1rem
      position: relative
    
  &__button
    width: 100%
    height: 100%
    border-radius: 50%
    font-size: 0px
    cursor: pointer
    position: absolute
    transition: all ease-out 250ms

    &:hover
      border: 1px solid $basic-white

    &--active
      background-color: $basic-white
      border: 1px solid $basic-white
      color: $dark-blue

    &--inactive
      background-color: rgba(255, 255, 255, 0)
      border: 1px solid $quarter-white
      color: $basic-white



.numbered

  &__list
    counter-reset: numeral-counter
    display: flex
    justify-content: space-evenly

    &-item
      color: $basic-white
      width: 4rem
      height: 4rem
      position: relative
     
    
  &__button
    width: 100%
    height: 100%
    border-radius: 50%
    overflow: hidden
    position: relative
    display: flex
    justify-content: center
    align-items: center
    font-size: 0px
    cursor: pointer
    transition: all ease-out 250ms

    &::before
      font-family: 'Bellefair', serif
      font-size: 1.6rem
      position: absolute
      counter-increment: numeral-counter
      content: counter(numeral-counter)

    &:hover
      border: 1px solid $basic-white

    &--active
      background-color: rgba(255, 255, 255, 1)
      border: 1px solid $basic-white
      color: $dark-blue

    &--inactive
      background-color: rgba(255, 255, 255, 0)
      border: 1px solid $quarter-white
      color: $basic-white

.named
  width: 100%

  &__list
    display: flex
    justify-content: space-evenly

    &-item
    
  &__button
    @include subheading-two
    border: none
    background-color: rgba(255, 255, 255, 0)
    position: relative
    cursor: pointer
    padding-bottom: 0.8rem

    &--inactive::before,
    &--active::before
      content: ''
      position: absolute
      bottom: 0
      left: -0.08rem
      right: -0.05rem
      top: 0
      transition: all ease-out 250ms

    &--inactive::before
      transform: scaleX(0)
      border-bottom: 2px solid $quarter-white

    &--inactive:hover::before
        transform: scaleX(1)

    &--active::before
      border-bottom: 2px solid $basic-white
        


//---------------HTML GENERALS-----------------
* 
  box-sizing: border-box
  padding: 0
  margin: 0

html, body
  max-height: 100vh
  width: 100%
  overflow: hidden

ul
  list-style: none

a
  text-decoration: none

.container
  position: absolute
  width: 100%
  height: 100vh
  overflow: hidden

.header
  width: 100%
  height: 5rem
  padding: 1rem
  position: absolute
  z-index: 1

  &__logo
    top: 0
    left: 0
    right: 0
    display: flex
    justify-content: space-between
    align-items: center
  
  &__hamburger
    width: 2rem
    height: 2rem
    position: relative
    display: block

.logo
  width: 2rem
  height: 2rem
  position: relative

.sub-header
  @include subheading-one

  &--num
    opacity: 0.25

.nav
  position: absolute
  top: 0
  height: 100vh
  transition: all 0.3s ease
  background-color: rgba(255, 255, 255, 0.04)
  backdrop-filter: blur(81.5485px)
  display: flex
  flex-direction: row-reverse
  justify-content: space-between
  overflow: hidden
  width: 15rem

  &__exit
    width: 2rem
    height: 2rem
    position: relative
    margin: 0

  &--open
    transform: scaleX(1)
    right: 0

  &--closed
    transform: scaleX(0)
    right: -15rem

  &-list
    margin-left: 3rem
    height: 50%
    display: flex
    align-self: center
    flex-direction: column
    justify-content: space-evenly

    &-item
      overflow: hidden

      &__text
        @include subheading-two
        font-weight: normal

        &--number
          margin: 0
          width: 1rem   
          font-weight: 700

          
.section-header
  @include heading-five
  color: $basic-white
  font-weight: 400
  display: inline
  
  &__num
    opacity: 0.25
    font-weight: 700

.landing
  position: absolute
  bottom: 0
  top: 0
  width: 100%
  height: 100vh
  background: $dark-blue url('../public/assets/home/background-home-mobile.jpg') no-repeat center/100%
  display: flex
  flex-direction: column
  justify-content: space-evenly
  align-items: center

  &-container
    display: flex
    flex-direction: column
    align-items: center
    text-align: center

  &__heading-five
    @include heading-five
    font-size: 16px
    
  &__heading-one
    @include heading-one
    font-size: 80px
    
  &__text-body
    @include body-text
    font-size: 15px
    color: $light-blue
    

  &__button
    @include heading-four
    position: relative
    color: $dark-blue
    font-size: 20px
    background-color: rgba(255, 255, 255, 0)
    display: flex
    justify-content: center
    align-items: center
    width: 150px
    height: 150px
    border-radius: 50%
    z-index: 2
    transition: all ease-out 150ms

    &::before,
    &::after
      position: absolute
      content: ''
      width: 100%
      height: 100%
      border-radius: 50%
      transition: transform ease 250ms

    &::before
      background-color: $quarter-white
      transform: scale(50%)
      z-index: -1
    
    &:hover::before
      transform: scale(150%)

    &:active::before
      width: 97%
      height: 97%

    &::after
      background-color: $basic-white
      z-index: -1
      
    &:active::after
      width: 96%
      height: 96%
    
.destination
  position: absolute
  bottom: 0
  top: 0
  width: 100%
  height: 100vh
  background: $dark-blue url('../public/assets/destination/background-destination-mobile.jpg') no-repeat center/100%
  padding-top: 6rem

  &-container
    width: 100%
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
 
  &__image
    width: 14rem
    height: 14rem
    position: relative
    margin: 0

  &-info

    &__body
      text-align: center

    &__heading
      @include heading-two

    &__text
      @include body-text
      color: $light-blue

  &-stats
    display: flex
    flex-direction: column
    justify-content: space-evenly

    &__item
      text-align: center

      &-heading
        @include subheading-two
        color: $light-blue
        
      &-stat
        @include subheading-one
        
.crew
  position: absolute
  bottom: 0
  top: 0
  width: 100%
  height: 100vh
  background: $dark-blue url('../public/assets/crew/background-crew-mobile.jpg') no-repeat center/100%
  padding-top: 6rem

  &-container
    width: 100%
    position: relative
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center

  &__image
    width: 14rem
    height: 14rem
    position: relative
    margin: 0

  &__picker
    width: 100%

  &-info
    text-align: center

    &__role
      @include heading-four
      opacity: 0.5
    
    &__name
      @include heading-three

    &__bio
      @include body-text
      color: $light-blue

.tech
  position: absolute
  bottom: 0
  top: 0
  width: 100%
  height: 100vh
  background: $dark-blue url('../public/assets/technology/background-technology-mobile.jpg') no-repeat center/100%
  padding-top: 6rem

  &-container
    width: 100%
    position: relative
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center

  &__image
    height: 15rem
    width: 102vw
    position: relative

  &-info
    text-align: center

    &__sub
      @include nav-text
      color: $light-blue
    
    &__name
      @include heading-three

    &__description
      @include body-text
      color: $light-blue

@media screen and (min-width: 800px)
  .section-header
    display: block
    width: 90%

  .header__hamburger
    display: none

  .nav
    top: 0
    right: 0
    height: 6rem
    display: flex
    flex-direction: row
    width: 30rem
  
    &--closed
      transform: none
      right: 0
      width: 30rem

    &__exit
      display: none

    &-list
      flex-direction: row
      justify-content: space-evenly
      align-items: center
      width: 80%
      height: 100%

      &-item
        height: 100%
        position: relative
        display: flex
        align-items: center

        &::before
          position: absolute
          content: ''
          bottom: 0
          width: 100%
          border-bottom: 2px solid $half-transparent-white
          transform: scaleX(0)
          transition: transform ease 200ms
        
        &:hover::before 
          transform: scaleX(1)

        &--active::before
          position: absolute
          content: ''
          bottom: 0
          width: 100%
          border-bottom: 2px solid $basic-white
          transform: scaleX(1)

        &__text--number
          display: none

  .landing
    background: $dark-blue url('../public/assets/home/background-home-tablet.jpg') no-repeat center/100%
  
  .destination
    background: $dark-blue url('../public/assets/destination/background-destination-tablet.jpg') no-repeat center/100%
    padding-top: 6rem

    &-stats
      flex-direction: row
      justify-content: space-evenly

  .crew
    background: $dark-blue url('../public/assets/crew/background-crew-tablet.jpg') no-repeat center/100%
    padding-top: 6rem

    &__image
      order: 3
    
    &__picker
      order: 2
      
    &-info
      order: 1

  .tech
    background: $dark-blue url('../public/assets/technology/background-technology-tablet.jpg') no-repeat center/100%
    padding-top: 6rem

    &__image
      height: 25rem
      width: 102vw

@media screen and (min-width: 1200px)
  .numbered

    &__list
      flex-direction: column
      justify-content: space-evenly

  .header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0
    top: 2rem
    left: 2rem

    &__decorative-line
      position: absolute
      height: 1px
      width: 40rem
      background-color: $quarter-white
      left: 15rem

  .logo
    width: 6rem
    height: 6rem

  .nav
    position: relative
    width: 58%      

    &-list-item__text--number
      display: inline

  .section-header
    position: absolute
    top: 0
    left: 0
    width: 50%

  .landing
    background: $dark-blue url('../public/assets/home/background-home-desktop.jpg') no-repeat center/100%
    flex-direction: row

    &-container
      text-align: left
      align-items: start
      width: 30%

  .destination
    background: $dark-blue url('../public/assets/destination/background-destination-desktop.jpg') no-repeat center/100%
    padding-top: 10rem

    &-container
      width: 90%
      height: 100%
      flex-wrap: wrap
      margin: 0 auto

    &-picker
      width: 50%

    &__image
      flex-grow: 2
      height: 30rem
      width: 30rem
      margin: 10rem 4rem

    &-info
      width: 50%

      &__body
        text-align: left

    &-stats__item
      text-align: left

  .crew
    background: $dark-blue url('../public/assets/crew/background-crew-desktop.jpg') no-repeat center/100%
    padding-top: 10rem

    &-container
      width: 90%
      height: 100%
      justify-content: center
      align-items: space-between
      flex-wrap: wrap
      margin: 0 auto

    &__picker
      width: 50%

    &__image
      height: 60rem
      width: 50%
      flex-grow: 2
    
    &-info
      width: 50%
      text-align: left

  .tech
    background: $dark-blue url('../public/assets/technology/background-technology-desktop.jpg') no-repeat center/100%
    padding-top: 10rem

    &-container
      width: 90%
      height: 100%
      justify-content: start
      flex-direction: row
      align-items: center
      margin: 0 auto

    &__image
      position: absolute
      right: -6%
      order: 3
      height: 40rem
      width: 40rem

    &__picker
      order: 1
    
    &-info
      width: 30%
      margin-left: 6rem
      text-align: left
      order: 2

// NAV BACKGROUND DEFAULT FOR MOZILLA

@supports (-moz-appearance:none) 
  .nav
    background-color: rgba(11, 13, 23, 0.9)
