@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600;700&family=Barlow:wght@200&family=Bellefair&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.header {
  width: 100%;
  height: 5rem;
  padding: 1.5rem;
  position: absolute;
  z-index: 2;
}

.header__logo {
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__hamburger {
  width: 1.5rem;
  height: 1.313rem;
  position: relative;
  display: block;
  cursor: pointer;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
}

.sub-header {
  line-height: 2rem;
  font-size: 1.75rem;
  font-family: 'Bellefair', serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.sub-header--num {
  opacity: 0.25;
}

.nav {
  position: absolute;
  top: 0;
  height: 100vh;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5485px);
          backdrop-filter: blur(81.5485px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  width: 15.875rem;
}

.nav__exit {
  width: 1.193125rem;
  height: 1.193125rem;
  position: relative;
  margin: 2.121875rem 1.653125rem;
  cursor: pointer;
}

.nav--open {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  right: 0;
}

.nav--closed {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  right: -15rem;
}

.nav-list {
  margin: 7.375rem 0 0 2rem;
  height: 10.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list-item {
  overflow: hidden;
}

.nav-list-item__text {
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.16875rem;
  line-height: 1.1875rem;
  text-transform: uppercase;
  font-weight: 200;
}

.nav-list-item__text--number {
  margin-right: 0.5625rem;
  display: inline-block;
  width: 1.25rem;
  font-weight: 700;
}

.section-header {
  display: inline;
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.16875rem;
  line-height: 1.1875rem;
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 2rem;
}

.section-header__num {
  display: inline-block;
  width: 0.9375rem;
  margin-right: 1.125rem;
  opacity: 0.25;
  font-weight: bold;
}

.landing {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #0b0d17 url("/assets/home/background-home-mobile.jpg") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 20.4375rem;
  height: 17.25rem;
  margin: 7rem 1.25rem 0;
  margin-top: calc(100vh * 0.1679);
}

.landing__heading-five {
  font-family: 'Barlow Condensed', sans-serif;
  color: #d0d6f9;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.16875rem;
  font-weight: 400;
}

.landing__heading-one {
  font-family: 'Bellefair', serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 5rem;
  line-height: 6.25rem;
}

.landing__text-body {
  font-family: 'barlow', sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #d0d6f9;
  font-weight: 200;
  height: 7.8125rem;
}

.landing__button {
  font-family: 'Bellefair', serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 100;
  position: relative;
  color: #0b0d17;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9.375rem;
  height: 9.375rem;
  margin-bottom: 3rem;
  margin-bottom: calc(100vh * 0.071964);
  border-radius: 50%;
  z-index: 1;
  -webkit-transition: all ease-out 150ms;
  transition: all ease-out 150ms;
}

.landing__button::before, .landing__button::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: -webkit-transform ease 250ms;
  transition: -webkit-transform ease 250ms;
  transition: transform ease 250ms;
  transition: transform ease 250ms, -webkit-transform ease 250ms;
}

.landing__button::before {
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-transform: scale(50%);
          transform: scale(50%);
  z-index: -1;
}

.landing__button:hover::before {
  -webkit-transform: scale(150%);
          transform: scale(150%);
}

.landing__button::after {
  background-color: #fff;
  z-index: -1;
}

.landing__button:hover::after {
  -webkit-transform: scale(97%);
          transform: scale(97%);
}

.landing__button:active::before, .landing__button:active::after {
  width: 95%;
  height: 95%;
}

.destination {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(11, 13, 23, 0.6) url("/assets/destination/background-destination-mobile.jpg") no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  padding-top: 5.5rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.destination::-webkit-scrollbar {
  display: none;
}

.destination-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destination__image {
  width: 10.625rem;
  height: 10.625rem;
  position: relative;
  margin: 0 auto 1.625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.destination-picker {
  width: 14.84375rem;
  height: 1.75rem;
  margin: 0 auto;
}

.destination-info__body {
  margin: 1.4375rem auto 0;
  width: 87.2%;
  text-align: center;
  border-bottom: 1px solid #383B4B;
}

.destination-info__heading {
  font-family: 'Bellefair', serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4.0625rem;
}

.destination-info__text {
  font-family: 'barlow', sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #d0d6f9;
  width: 95%;
  margin: 0 auto 2rem;
}

.destination-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 3.625rem;
}

.destination-stats__item {
  text-align: center;
  margin-top: 2rem;
}

.destination-stats__item-heading {
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  font-size: 0.875rem;
  letter-spacing: 0.147656rem;
  line-height: 1.0625rem;
  text-transform: uppercase;
  color: #d0d6f9;
  font-weight: 200;
  margin-bottom: 0.75rem;
}

.destination-stats__item-stat {
  font-family: 'Bellefair', serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 2rem;
  font-size: 1.75rem;
}

.crew {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(11, 13, 23, 0.6) url("/assets/crew/background-crew-mobile.jpg") no-repeat;
  background-blend-mode: darken;
  background-size: cover;
  padding-top: 5.5rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.crew::-webkit-scrollbar {
  display: none;
}

.crew-container {
  width: 87.2%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crew__image {
  width: 100%;
  height: 13.9375rem;
  position: relative;
  margin: 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-bottom: 1px solid #383B4B;
}

.crew__picker {
  width: 5.5rem;
  margin: 2rem auto;
}

.crew-info {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.crew-info__role {
  font-family: 'Bellefair', serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 100;
  opacity: 0.5;
  margin: 0 auto;
}

.crew-info__name {
  font-family: 'Bellefair', serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 100;
  margin: 0.5rem auto 1rem;
}

.crew-info__bio {
  font-family: 'barlow', sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #d0d6f9;
  width: 98.87%;
  margin: 0 auto 3.375rem;
}

.tech {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(11, 13, 23, 0.6) url("/assets/technology/background-technology-mobile.jpg") no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  padding-top: 5.5rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tech::-webkit-scrollbar {
  display: none;
}

.tech-container {
  width: 87.2%;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tech__image {
  height: 10.625rem;
  width: 101vw;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.tech__picker {
  margin: 2.125rem auto 1.625rem;
  width: 9.5rem;
}

.tech-info {
  text-align: center;
}

.tech-info__sub {
  font-family: 'Barlow Condensed', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  letter-spacing: 0.147656rem;
  color: #d0d6f9;
}

.tech-info__name {
  font-family: 'Bellefair', serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 100;
  margin: 0.5625rem auto 1rem;
}

.tech-info__description {
  font-family: 'barlow', sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #d0d6f9;
  width: 97.5%;
  margin: 0 auto 5.0825rem;
}

@media screen and (min-width: 760px) {
  .section-header {
    display: block;
    width: 90%;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.2109375rem;
    margin-bottom: 3.75rem;
  }
  .section-header__num {
    margin-right: 1.1875rem;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 2.4375rem;
    padding-right: 0;
  }
  .header__hamburger {
    display: none;
  }
  .logo {
    width: 3rem;
    height: 3rem;
  }
  .nav {
    position: relative;
    width: 58.59375%;
    height: 6rem;
    top: 0;
    right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav--closed {
    -webkit-transform: none;
            transform: none;
  }
  .nav__exit {
    display: none;
  }
  .nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 79.11%;
    height: 100%;
    margin: 0;
  }
  .nav-list-item {
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list-item::before {
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform ease 200ms;
    transition: -webkit-transform ease 200ms;
    transition: transform ease 200ms;
    transition: transform ease 200ms, -webkit-transform ease 200ms;
  }
  .nav-list-item:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .nav-list-item--active::before {
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid #fff;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .nav-list-item__text {
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    letter-spacing: 0.147656rem;
  }
  .nav-list-item__text--number {
    display: none;
  }
  .landing {
    background: #0b0d17 url("/assets/home/background-home-tablet.jpg") no-repeat;
    background-size: cover;
  }
  .landing-container {
    width: 28.125rem;
    height: 20.875rem;
    margin-top: 12.625rem;
  }
  .landing__heading-five {
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.2109rem;
    font-weight: 200;
  }
  .landing__heading-one {
    font-size: 9.375rem;
    line-height: 9.375rem;
  }
  .landing__text-body {
    width: 97%;
    font-size: 1rem;
    line-height: 1.75rem;
  }
  .landing__button {
    width: 15.125rem;
    height: 15.125rem;
    margin-bottom: 5.625rem;
  }
  .destination {
    background: rgba(11, 13, 23, 0.6) url("/assets/destination/background-destination-tablet.jpg") no-repeat;
    background-size: cover;
    padding-top: 8.5rem;
  }
  .destination__image {
    width: 18.75rem;
    height: 18.75rem;
    margin: 0 auto 3.3125rem;
  }
  .destination-picker {
    width: 17.84375rem;
    height: 2.125rem;
  }
  .destination-info {
    width: 74.609375%;
    margin: 0;
  }
  .destination-info__body {
    width: 100%;
    margin: 2rem auto 0;
  }
  .destination-info__heading {
    font-size: 5rem;
    line-height: 5.75rem;
  }
  .destination-info__text {
    width: 100%;
    font-size: 1rem;
    line-height: 1.75rem;
    margin: 0.5rem auto 3.0625rem;
  }
  .destination-stats {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .destination-stats__item {
    margin-top: 1.8125rem;
  }
  .crew {
    background: rgba(11, 13, 23, 0.6) url("/assets/crew/background-crew-tablet.jpg") no-repeat;
    background-size: cover;
    padding-top: 8.5rem;
  }
  .crew-container {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .crew__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border: none;
  }
  .crew__picker {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin: 2.5rem auto;
  }
  .crew-info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 59.6354%;
  }
  .crew-info__role {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  .crew-info__name {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 2.5rem;
    line-height: 2.875rem;
  }
  .crew-info__bio {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 1rem;
    line-height: 1.75rem;
    margin: 0 auto;
  }
  .douglas_hurley__image {
    width: 28.523125rem;
    height: 35.75rem;
    margin: 0 20.283854166% 0 20.29296875%;
  }
  .douglas_hurley-info {
    width: 28.523125rem;
  }
  .mark_shuttleworth__image {
    width: 23.053125rem;
    height: 33.25rem;
    margin: 0 25.93098958333% 0 26.041666%;
  }
  .mark_shuttleworth-info {
    width: 32.5rem;
  }
  .victor_glover__image {
    width: 29rem;
    height: 33.25rem;
    margin: 0 21.59557291666% 0 20.3125%;
  }
  .victor_glover-info {
    width: 37rem;
  }
  .anousheh_ansari__image {
    width: 33.719375rem;
    height: 33.25rem;
    margin: 0 13.50338541666% 0 16.84791666%;
  }
  .anousheh_ansari-info {
    width: 33.5rem;
  }
  .tech {
    background: rgba(11, 13, 23, 0.6) url("/assets/technology/background-technology-tablet.jpg") no-repeat;
    background-size: cover;
    padding-top: 8.5rem;
  }
  .tech__image {
    height: 19.375rem;
    width: 102vw;
  }
  .tech__picker {
    margin: 3.5rem auto 2.75rem;
    width: 13.125rem;
  }
  .tech-info__sub {
    font-size: 1rem;
    letter-spacing: 0.16875rem;
    line-height: 1.1875rem;
  }
  .tech-info__name {
    font-size: 2.5rem;
    line-height: 2.875rem;
    margin: 1rem auto;
  }
  .tech-info__description {
    width: 65.6%;
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 6.0625rem;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 6rem;
    padding: 0;
    margin-top: 2.5rem;
  }
  .header__logo {
    margin-left: 3.4375rem;
  }
  .header__decorative-line {
    position: absolute;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    left: 10.4375rem;
    right: 55.55555%;
    z-index: 6;
  }
  .nav {
    position: relative;
    right: 0;
    padding-right: 2.53012048%;
    width: 57.638888%;
  }
  .nav-list {
    width: 68.29923685%;
  }
  .nav-list-item::before {
    border-bottom: 0.1875rem solid rgba(255, 255, 255, 0.5);
  }
  .nav-list-item--active::before {
    border-bottom: 0.1875rem solid #fff;
  }
  .nav-list-item__text {
    font-size: 1rem;
    line-height: 1.1875rem;
    letter-spacing: 0.16875rem;
  }
  .nav-list-item__text--number {
    display: inline;
    margin-right: 0.75rem;
  }
  .section-header {
    position: absolute;
    top: 0;
    left: 0.09375rem;
    width: 50%;
    font-size: 1.75rem;
    line-height: 2.125rem;
    letter-spacing: 0.2953125rem;
  }
  .section-header__num {
    margin-right: 3.75rem;
  }
  .landing {
    background: #0b0d17 url("/assets/home/background-home-desktop.jpg") no-repeat;
    background-size: cover;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .landing-container {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 28.125rem;
    height: 23.875rem;
    margin: 0 0 9.097222% 11.458333%;
  }
  .landing__heading-five {
    font-size: 1.75rem;
    line-height: 2.125rem;
    letter-spacing: 0.2953125rem;
  }
  .landing__heading-one {
    line-height: 10.75rem;
  }
  .landing__text-body {
    font-size: 1.125rem;
    line-height: 2rem;
  }
  .landing__button {
    margin: 0 11.458333% 9.097222% 0;
  }
  .landing__button:active::before {
    width: 100%;
    height: 100%;
  }
  .destination {
    background: rgba(11, 13, 23, 0.6) url("/assets/destination/background-destination-desktop.jpg") no-repeat;
    background-size: cover;
    padding: 13.25rem 10.1875rem 7.375rem 10.3125rem;
  }
  .destination-container {
    width: 100%;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .destination-picker {
    width: 17.84375rem;
    height: 2.125rem;
    margin: 5rem 0 0 0;
  }
  .destination__image {
    height: 27.8125rem;
    width: 27.8125rem;
    margin: 0 0 0 3.96875rem;
  }
  .destination-info {
    width: 27.8125rem;
    margin: 0;
  }
  .destination-info__body {
    text-align: left;
  }
  .destination-info__heading {
    font-size: 6.25rem;
    line-height: 7.1875rem;
    margin: 2.3125rem 0 0.875rem;
  }
  .destination-info__text {
    font-size: 1.125rem;
    line-height: 2rem;
    margin: 0 0 3.375rem;
  }
  .destination-stats {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 0;
  }
  .destination-stats__item {
    text-align: left;
    width: 10rem;
    margin-right: 3.8125rem;
  }
  .crew {
    background: rgba(11, 13, 23, 0.6) url("/assets/crew/background-crew-desktop.jpg") no-repeat;
    background-size: cover;
    padding: 13.25rem 0 0 10.3125rem;
    overflow: scroll;
  }
  .crew-container {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin: 0;
  }
  .crew__picker {
    left: 0;
    width: 8.25rem;
    margin: 7.5rem 0 0 0.125rem;
  }
  .crew__image {
    position: relative;
    bottom: 0;
    z-index: 0;
  }
  .crew-info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    height: 100%;
    text-align: left;
    padding-bottom: 5.875rem;
    overflow-y: scroll;
    z-index: 6;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .crew-info::-webkit-scrollbar {
    display: none;
  }
  .crew-info__role {
    font-size: 2rem;
    line-height: 2.3125rem;
    margin: 11.75rem 0 0 0.03125rem;
  }
  .crew-info__name {
    font-size: 3.5rem;
    line-height: 4rem;
    margin: 0.9375rem 0 0 0.03125rem;
    white-space: nowrap;
  }
  .crew-info__bio {
    width: 27.75rem;
    font-size: 1.125rem;
    line-height: 2rem;
    margin: 1.6875rem 0 0 0;
  }
  .douglas_hurley__image {
    width: 35.504375rem;
    height: 44.5rem;
    margin: 0 9% 0 0;
  }
  .douglas_hurley-info {
    width: 30.5rem;
  }
  .mark_shuttleworth__image {
    width: 28.34rem;
    height: 40.875rem;
    margin: 0 14% 0 0;
  }
  .mark_shuttleworth-info {
    width: 38.375rem;
  }
  .victor_glover__image {
    width: 34.649375rem;
    height: 40.7rem;
    margin: 0 10.9% 0 0;
  }
  .victor_glover-info {
    width: 27.0625rem;
  }
  .anousheh_ansari__image {
    z-index: 0;
    bottom: 0;
    width: 38.473125rem;
    height: 37.9375rem;
    margin: 0 8.014117647% 0 0;
  }
  .anousheh_ansari-info {
    width: 33.25rem;
    z-index: 4;
  }
  .tech {
    background: rgba(11, 13, 23, 0.6) url("/assets/technology/background-technology-desktop.jpg") no-repeat;
    background-size: cover;
    padding: 13.25rem 0 0 10.3125rem;
  }
  .tech-container {
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .tech__image {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 32.1875rem;
    height: 32.9375rem;
  }
  .tech__picker {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 18.9375rem;
    width: 5rem;
    margin: 0;
  }
  .tech-info {
    width: 32.5rem;
    height: 18.9375rem;
    margin: 0;
    text-align: left;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .tech-info__name {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .tech-info__description {
    width: 27.75rem;
    font-size: 1.125rem;
    line-height: 2rem;
    margin: 0;
  }
}

@supports (-moz-appearance: none) {
  .nav {
    background-color: rgba(11, 13, 23, 0.9);
    z-index: 4;
  }
  @media screen and (min-width: 760px) {
    .nav {
      background-color: #131720;
      z-index: 4;
    }
  }
}
/*# sourceMappingURL=globals.css.map */