// ---------FONT IMPORTS--------------
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600;700&family=Barlow:wght@200&family=Bellefair&display=swap')

// -----------BASE COLOURS--------------
$dark-blue: #0b0d17
$light-blue: #d0d6f9
$basic-white: #fff

// -----------COLOUR VARIANTS--------------
$half-transparent-white: rgba(255, 255, 255, 0.5)
$quarter-white: rgba(255, 255, 255, 0.25)
$nav-white: rgba(255, 255, 255, 0.04)
$background-overlay: rgba(11, 13, 23, 0.6)

// ---------BREAK POINTS-------------------
$tablet: 760px
$desktop-sm: 1200px
$desktop-m: 1800px

// ------------TYPOGRAPHY------------------
@mixin bellefair-white
  font-family: 'Bellefair', serif
  color: $basic-white
  text-transform: uppercase
  font-weight: 400

@mixin barlow-white
  font-family: 'Barlow Condensed', sans-serif
  color: $basic-white

@mixin barlow-blue
  font-family: 'Barlow Condensed', sans-serif
  color: $light-blue
  text-transform: uppercase

@mixin heading-one
  @include bellefair-white
  font-size: 5rem
  line-height: 6.25rem

  @media (min-width: $tablet)
    font-size: 9.375rem
    line-height: 9.375rem

  @media (min-width: $desktop-sm)
    line-height: 10.75rem

@mixin heading-two
  @include bellefair-white
  font-size: 3.5rem
  line-height: 4.0625rem

  @media (min-width: $tablet)
    font-size: 5rem
    line-height: 5.75rem

  @media (min-width: $desktop-sm)
    font-size: 6.25rem
    line-height: 7.1875rem 

@mixin heading-three
  @include bellefair-white
  font-size: 1.5rem
  line-height: 1.75rem
  font-weight: 100

  @media (min-width: $tablet)
    font-size: 2.5rem
    line-height: 2.875rem

  @media (min-width: $desktop-sm)
    font-size: 3.5rem
    line-height: 4rem

@mixin heading-four
  @include bellefair-white
  font-size: 1rem
  line-height: 1.125rem
  font-weight: 100
  opacity: 0.5

  @media (min-width: $tablet)
    font-size: 1.5rem
    line-height: 1.75rem

  @media (min-width: $desktop-sm)
    font-size: 2rem
    line-height: 2.3125rem

@mixin heading-five
  @include barlow-blue
  font-size: 1rem
  letter-spacing: 0.16875rem
  line-height: 1.1875rem
  font-weight: 400

  @media (min-width: $tablet)
    font-size: 1.25rem
    letter-spacing: 0.2109rem
    line-height: 1.5rem
    font-weight: 200

  @media (min-width: $desktop-sm)
    font-size: 1.75rem
    letter-spacing: 0.2953125rem
    line-height: 2.125rem

@mixin subheading-one
  @include bellefair-white
  line-height: 2rem
  font-size: 1.75rem

@mixin subheading-two
  @include barlow-white
  font-size: 0.875rem
  line-height: 1.0625rem
  letter-spacing: 0.14765625rem

@mixin nav-text
  @include barlow-white
  font-size: 1rem
  line-height: 1.1875rem
  letter-spacing: 0.16875rem
  text-transform: uppercase
  font-weight: 200

@mixin text-body
  font-family: 'barlow', sans-serif
  font-size: 0.9375rem
  line-height: 1.5625rem
  color: $light-blue
  font-weight: 200

  @media (min-width: $tablet)
    font-size: 1rem
    line-height: 1.75rem

  @media (min-width: $desktop-sm)
    font-size: 1.125rem
    line-height: 2rem

//---------------HTML GENERALS-----------------
* 
  box-sizing: border-box
  padding: 0
  margin: 0

html, body
  min-height: 100%
  width: 100%
  font-size: 16px

ul
  list-style: none

a
  text-decoration: none

.header
  width: 100%
  height: 5rem
  padding: 1.5rem
  position: fixed
  z-index: 2

  &__logo
    top: 0
    left: 0
    right: 0
    display: flex
    justify-content: space-between
    align-items: center
  
  &__hamburger
    width: 1.5rem
    height: 1.313rem
    position: relative
    display: block
    cursor: pointer

.logo
  width: 2.5rem
  height: 2.5rem
  position: relative

.sub-header
  @include bellefair-white
  line-height: 2rem
  font-size: 1.75rem

  &--num
    opacity: 0.25

.nav
  position: absolute
  top: 0
  width: 15.875rem
  height: 100vh
  transition: all 0.3s ease
  background-color: $nav-white
  backdrop-filter: blur(81.5485px)
  display: flex
  flex-direction: row-reverse
  justify-content: space-between
  overflow: hidden
  z-index: 21

  &__exit
    width: 1.193125rem
    height: 1.193125rem
    position: relative
    margin: 2.121875rem 1.653125rem
    cursor: pointer

  &--open
    transform: scaleX(1)
    right: 0

  &--closed
    transform: scaleX(0)
    right: -15rem

  &-list
    margin: 7.375rem 0 0 2rem
    height: 10.75rem
    display: flex
    flex-direction: column
    justify-content: space-between

    &-item
      overflow: hidden

      &__text
        @include nav-text

        &--number
          margin-right: 0.5625rem
          display: inline-block
          width: 1.25rem  
          font-weight: 700

.nav__exit-block
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  z-index: 2

.section-header
  text-align: center
  @include barlow-white
  font-size: 1rem
  letter-spacing: 0.16875rem
  line-height: 1.1875rem
  text-transform: uppercase
  font-weight: 200
  margin: 0 auto
  
  &__num
    display: inline-block
    width: 0.9375rem
    margin-right: 1.125rem
    opacity: 0.25
    font-weight: bold

.landing
  position: absolute
  bottom: 0
  top: 0
  width: 100%
  height: 100vh
  background: $dark-blue url('/assets/home/background-home-mobile.jpg') no-repeat
  background-size: cover
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center

  &-container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    text-align: center
    width: 20.4375rem
    height: 17.25rem
    margin: 7rem 1.25rem 0
    margin-top: calc(100vh * 0.1679)

  &__heading-five
    @include heading-five
    
  &__heading-one
    @include heading-one
    
  &__text-body
    @include text-body
    height: 7.8125rem

  &__button
    @include bellefair-white
    font-size: 1rem
    line-height: 1.125rem
    font-weight: 100
    position: relative
    color: $dark-blue
    font-size: 1.25rem
    display: flex
    justify-content: center
    align-items: center
    width: 9.375rem
    height: 9.375rem
    margin-bottom: 3rem // Fallback
    margin-bottom: calc(100vh * 0.071964)
    border-radius: 50%
    z-index: 1
    transition: all ease-out 150ms

    &::before,
    &::after
      position: absolute
      content: ''
      width: 100%
      height: 100%
      border-radius: 50%
      transition: transform ease 250ms

    &::before
      background-color: $quarter-white
      transform: scale(50%)
      z-index: -1
    
    &:hover::before
      transform: scale(150%)

    &::after
      background-color: $basic-white
      z-index: -1

    &:hover::after
      transform: scale(97%)
      
    &:active::before,  
    &:active::after
      width: 95%
      height: 95%
    
.destination
  width: 100%
  height: 100%
  padding-top: 5.5rem

  &__background
    position: fixed
    bottom: 0
    top: 0
    left: 0
    right: 0
    background-color: $background-overlay
    background-image: url('/assets/destination/background-destination-mobile.jpg')
    background-repeat: no-repeat
    background-blend-mode: darken
    background-size: cover
    z-index: -1

  &-container
    width: 100%
    height: 100%
    height: calc(100% - 1.1875rem)
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 2rem
 
  &__image
    width: 10.625rem
    height: 10.625rem
    position: relative
    margin: 0 auto 1.625rem
    flex-shrink: 0

  &-picker
    width: 14.84375rem
    height: 1.75rem
    margin: 0 auto

  &-info

    &__body
      margin: 1.4375rem auto 0
      width: 87.2%
      text-align: center
      border-bottom: 1px solid #383B4B

    &__heading
      @include heading-two

    &__text
      @include text-body
      width: 95%
      margin: 0 auto 2rem

  &-stats
    display: flex
    flex-direction: column
    justify-content: space-evenly
    margin-bottom: 3.625rem

    &__item
      text-align: center
      margin-top: 2rem

      &-heading
        @include barlow-white
        font-size: 0.875rem
        letter-spacing: 0.147656rem
        line-height: 1.0625rem
        text-transform: uppercase
        color: $light-blue
        font-weight: 200
        margin-bottom: 0.75rem
        
      &-stat
        @include subheading-one
        
.crew
  width: 100%
  height: 100%
  padding-top: 5.5rem

  &__background
    position: fixed
    bottom: 0
    top: 0
    left: 0
    right: 0
    background-color: $background-overlay
    background-image: url('/assets/crew/background-crew-mobile.jpg')
    background-repeat: no-repeat
    background-blend-mode: darken
    background-size: cover
    z-index: -1

  &-container
    width: 87.2%
    height: 100%
    height: calc(100% - 1.1875rem)
    margin: 0 auto
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 2rem

  &__image
    width: 100%
    height: 13.9375rem
    position: relative
    margin: 0 auto
    flex-shrink: 0

  &__picker
    width: 5.5rem
    margin: 2rem auto

  &-info
    text-align: center
    display: flex
    flex-direction: column

    &__role
      @include heading-four
      margin: 0 auto
    
    &__name
      @include heading-three
      margin: 0.5rem auto 1rem

    &__bio
      @include text-body
      width: 98.87%
      margin: 0 auto 3.375rem

.douglas_hurley__image
  margin-left: 1.5rem 

  &::before
    content: ''
    position: absolute
    width: 87.2vw
    bottom: -1px
    height: 1px
    background-color: #383B4B
    transform: translateX(-1.5rem)


.mark_shuttleworth__image
  margin-left: 0.5rem

  &::before
    content: ''
    position: absolute
    width: 87.2vw
    bottom: -1px
    height: 1px
    background-color: #383B4B
    transform: translateX(-0.5rem)

.victor_glover__image
  margin-left: 0.5rem

  &::before
    content: ''
    position: absolute
    width: 87.2vw
    bottom: -1px
    height: 1px
    background-color: #383B4B
    transform: translateX(-0.5rem)

.anousheh_ansari__image
  margin-left: 0.2rem

  &::before
    content: ''
    position: absolute
    width: 87.2vw
    bottom: -1px
    height: 1px
    background-color: #383B4B
    transform: translateX(-0.2rem)

.tech
  position: absolute
  bottom: 0
  top: 0
  width: 100%
  height: 100vh
  background: $background-overlay url('/assets/technology/background-technology-mobile.jpg') no-repeat 
  background-size: cover
  background-blend-mode: darken
  padding-top: 5.5rem
  overflow-y: scroll
  -ms-overflow-style: none
  scrollbar-width: none

  &::-webkit-scrollbar
    display: none

  &-container
    position: relative
    width: 87.2%
    height: 100%
    height: calc(100% - 1.1875rem)
    display: flex
    flex-direction: column
    align-items: center
    margin: 0 auto
    padding-top: 2rem

  &__image
    position: relative
    height: 10.625rem
    width: 101vw
    flex-shrink: 0
  
  &__picker
    width: 9.5rem
    margin: 2.125rem auto 1.625rem

  &-info
    text-align: center

    &__sub
      @include barlow-white
      text-transform: uppercase
      font-weight: 100
      font-size: 0.875rem
      line-height: 1.0625rem
      letter-spacing: 0.14765625rem
      color: $light-blue
    
    &__name
      @include heading-three
      margin: 0.5625rem auto 1rem

    &__description
      @include text-body
      width: 97.5%
      margin: 0 auto 5.0825rem

@media screen and (min-width: 760px)
  .header
    display: flex
    justify-content: space-between
    align-items: center
    padding-left: 2.4375rem
    padding-right: 0    

    &__hamburger
      display: none
  
  .logo
    width: 3rem
    height: 3rem

  .nav
    position: relative
    width: 58.59375%
    height: 6rem
    top: 0
    right: 0
    flex-direction: row
    justify-content: center
  
    &--closed
      transform: none

    &__exit
      display: none

    &-list
      flex-direction: row
      justify-content: space-between
      align-items: center
      width: 79.11%
      height: 100%
      margin: 0

      &-item
        height: 100%
        position: relative
        display: flex
        align-items: center

        &::before
          position: absolute
          content: ''
          bottom: 0
          width: 100%
          border-bottom: 2px solid $half-transparent-white
          transform: scaleX(0)
          transition: transform ease 200ms
        
        &:hover::before 
          transform: scaleX(1)

        &--active::before
          position: absolute
          content: ''
          bottom: 0
          width: 100%
          border-bottom: 2px solid $basic-white
          transform: scaleX(1)

        &__text
          width: 100%
          font-size: 0.875rem
          line-height: 1.0625rem
          letter-spacing: 0.147656rem

          &--number
            display: none
  
  .section-header
    display: inline-block
    font-size: 1.25rem
    line-height: 1.5rem
    letter-spacing: 0.2109375rem
    margin: 0 0 0 2.40625rem

    &__num
      margin-right: 1.1875rem

  .landing
    background: $dark-blue url('/assets/home/background-home-tablet.jpg') no-repeat 
    background-size: cover

    &-container
      width: 28.125rem
      height: 20.875rem
      margin-top: 12.625rem

    &__text-body
      width: 97%

    &__button
      width: 15.125rem
      height: 15.125rem
      margin-bottom: 5.625rem
  
  .destination
    padding-top: 8.5rem

    &__background
      background-image: url('/assets/destination/background-destination-tablet.jpg')

    &-container
      height: calc(100% - 1.5rem)
      padding-top: 3.75rem

    &__image
      width: 18.75rem
      height: 18.75rem
      margin: 0 auto 3.3125rem

    &-picker
      width: 17.84375rem
      height: 2.125rem

    &-info
      width: 74.609375%
      margin: 0 

      &__body
        width: 100%
        margin: 2rem auto 0

      &__text
        width: 100%
        margin: 0.5rem auto 3.0625rem

    &-stats
      flex-direction: row
      justify-content: space-evenly

      &__item
        margin-top: 1.8125rem

  .crew
    padding-top: 8.5rem

    &__background
      background-image: url('/assets/crew/background-crew-tablet.jpg')

    &-container
      height: calc(100% - 1.5rem)
      width: 100%
      padding-top: 3.75rem
      justify-content: space-between

    &__image
      order: 2
      margin: 0
      bottom: 0

      &::before
        display: none
    
    &__picker
      order: 4
      margin: 2.5rem auto
      
    &-info
      order: 1
      width: 59.6354%

      &__role
        order: 1

      &__name
        order: 2

      &__bio
        order: 3
        margin: 0 auto

  .douglas_hurley
    &__image
      width: 28.523125rem
      height: 35.75rem
      margin: 0 20.283854166% 0 20.29296875%

    &-info
      width: 28.523125rem

  .mark_shuttleworth
    &__image
      width: 23.053125rem
      height: 33.25rem
      margin: 0 25.93098958333% 0 26.041666%

    &-info
      width: 32.5rem

  .victor_glover
    &__image
      width: 29rem
      height: 33.25rem
      margin: 0 21.59557291666% 0 20.3125%

    &-info
      width: 37rem

  .anousheh_ansari
    &__image
      width: 33.719375rem
      height: 33.25rem
      margin: 0 13.50338541666% 0 16.84791666%

    &-info
      width: 33.5rem

  .tech
    background: $background-overlay url('/assets/technology/background-technology-tablet.jpg') no-repeat
    background-size: cover
    padding-top: 8.5rem

    &-container
      height: calc(100% - 1.5rem)
      padding-top: 3.75rem

    &__image
      height: 19.375rem
      width: 102vw

    &__picker
      margin: 3.5rem auto 2.75rem
      width: 13.125rem

    &-info

      &__sub
        font-size: 1rem
        letter-spacing: 0.16875rem
        line-height: 1.1875rem
    
      &__name
        margin: 1rem auto

      &__description
        width: 65.6%
        margin-bottom: 6.0625rem

@media screen and (min-width: 1200px)
  html
    font-size: 87.5%

  .header
    display: flex
    justify-content: space-between
    align-items: center
    height: 10.666667%
    padding: 0
    margin-top: 2.5rem

    &__logo
      margin-left: 3.4375rem

    &__decorative-line
      position: absolute
      height: 1px
      background-color: $quarter-white
      left: 10.4375rem
      right: 55.55555%
      z-index: 6

  .nav
    position: relative
    right: 0
    padding-right: 2.53012048%
    width: 57.638888%

    &-list
      width: 68.29923685%

      &-item
        
        &::before
          border-bottom: 0.1875rem solid $half-transparent-white

        &--active::before
          border-bottom: 0.1875rem solid $basic-white

        &__text--number
          display: inline
          margin-right: 0.75rem

  .section-header
    // position: absolute
    text-align: left
    top: 23.55555555%
    left: 10.40625rem
    width: 50%
    font-size: 1.75rem
    line-height: 2.125rem
    letter-spacing: 0.2953125rem
    margin: 0

    &__num
      margin-right: 3.75rem

  .landing
    background: $dark-blue url('/assets/home/background-home-desktop.jpg') no-repeat
    background-size: cover
    flex-direction: row
    align-items: end

    &-container
      text-align: left
      align-items: start
      justify-content: space-between
      width: 28.125rem
      height: 23.875rem
      margin: 0 0 9.097222% 11.458333%

    &__button
      margin: 0 11.458333% 9.097222% 0

      &:active::before
        width: 100%
        height: 100%

  .destination
    padding: 13.25rem 0.5rem 7.7777777778% 4.5625rem

    &__background
      background-image: url('/assets/destination/background-destination-desktop.jpg')

    &-container
      width: 100%
      height: 100%
      flex-direction: row
      justify-content: space-evenly
      align-items: end

    &-picker
      width: 17.84375rem
      height: 2.125rem
      margin: 5rem 0 0 0

    &__image
      height: 27.8125rem
      width: 27.8125rem
      margin: 0

    &-info
      width: 27.8125rem
      margin: 0 0 0.375rem 0

      &__body
        text-align: left

      &__heading 
        margin: 2.3125rem 0 0.875rem

      &__text
        margin: 0 0 3.375rem 

    &-stats
      justify-content: start
      margin-bottom: 0

      &__item
        text-align: left
        width: 10rem
        margin-right: 3.8125rem
      
  .crew
    padding: 13.25rem 0 0 10.3125rem

    &__background
      background-image: url('/assets/crew/background-crew-desktop.jpg')

    &-container
      width: 50%
      height: 100%
      align-items: start
      margin: 0
      padding: 0
      
    &__picker
      width: 8.25rem
      margin: 0 0 5.875rem 0

    &__image
      position: fixed
      bottom: 0
      z-index: 0
    
    &-info
      align-items: start
      height: 100%
      text-align: left
      margin: 0 0 5.875rem 0

      &__role
        margin: 11.75rem 0 0 0.03125rem

      &__name
        margin: 0.9375rem 0 0 0.03125rem 

      &__bio
        width: 27.75rem
        height: 10rem
        margin: 1.6875rem 0 0 0

  .douglas_hurley
    &__image
      width: 35.504375rem
      height: 44.5rem
      left: 50%
      margin: 0 9% 0 0

    &-info
      width: 30.5rem

  .mark_shuttleworth
    &__image
      width: 28.34rem
      height: 40.875rem
      margin: 0 14% 0 0

    &-info
      width: 38.375rem

  .victor_glover
    &__image
      width: 34.649375rem
      height: 40.7rem
      left: 51.597222222%
      margin: 0 10.9% 0 0

    &-info
      width: 27.0625rem

  .anousheh_ansari
    &__image
      width: 38.473125rem
      height: 37.9375rem
      margin: 0 8.014117647% 0 0

    &-info
      width: 33.25rem

  .tech
    background: $background-overlay url('/assets/technology/background-technology-desktop.jpg') no-repeat 
    background-size: cover
    padding: 13.25rem 0 0 10.3125rem

    &-container
      width: 100%
      height: 100%
      justify-content: space-between
      flex-direction: row
      align-items: center
      margin: 0

    &__image
      order: 3
      width: 32.1875rem
      height: 32.9375rem
      
    &__picker
      order: 1
      height: 18.9375rem
      width: 5rem
      margin: 0
    
    &-info
      width: 32.5rem
      height: 18.9375rem
      margin: 0
      text-align: left
      order: 2

      &__description
        width: 27.75rem
        margin: 0

@media screen and ( min-width: 1400px )
  html
    font-size: 100%
  
@media screen and (min-width: 1800px)
  .header
    height: 10.666667%
    padding: 0
    margin-top: 2.5rem

    &__logo
      margin-left: 3.4375rem

    &__decorative-line
      height: 1px
      left: 10.4375rem
      right: 55.55555%

  .nav
    padding-right: 2.53012048%
    width: 57.638888%

    &-list
      width: 68.29923685%

      &-item
        
        &::before
          border-bottom: 0.1875rem solid $half-transparent-white

        &--active::before
          border-bottom: 0.1875rem solid $basic-white

        &__text
          font-size: 1rem
          line-height: 1.1875rem
          letter-spacing: 0.16875rem

          &--number
            margin-right: 0.75rem

  .section-header
    top: 23.55555555%
    left: 10.40625rem
    width: 50%
    font-size: 1.75rem
    line-height: 2.125rem
    letter-spacing: 0.2953125rem
    margin: 0

    &__num
      margin-right: 3.75rem

  .landing

    &-container
      width: 28.125rem
      height: 23.875rem
      margin: 0 0 9.097222% 11.458333%

    &__heading-five
      font-size: 1.75rem
      line-height: 2.125rem
      letter-spacing: 0.2953125rem

    &__heading-one
      line-height: 10.75rem


    &__text-body
      font-size: 1.125rem
      line-height: 2rem

    &__button
      margin: 0 11.458333% 9.097222% 0

      &:active::before
        width: 100%
        height: 100%

  .destination
    padding: 0 0.5rem 7.7777777778% 4.5625rem

    &-picker
      width: 17.84375rem
      height: 2.125rem
      margin: 5rem 0 0 0

    &__image
      height: 27.8125rem
      width: 27.8125rem
      margin: 0

    &-info
      width: 27.8125rem
      margin: 0 0 0.375rem 0

      &__heading 
        font-size: 6.25rem
        line-height: 7.1875rem 
        margin: 2.3125rem 0 0.875rem

      &__text
        font-size: 1.125rem
        line-height: 2rem
        margin: 0 0 3.375rem 

    &-stats
      margin-bottom: 0

      &__item
        width: 10rem
        margin-right: 3.8125rem
      
  .crew
    padding: 13.25rem 0 0 10.3125rem

    &-container
      width: 100%
      height: 100%
      margin: 0
      
    &__picker
      left: 0
      bottom: 13.6627906976744%
      width: 8.25rem
      margin: 0

    &-info

      &__role
        font-size: 2rem
        line-height: 2.3125rem
        margin: 11.75rem 0 0 0.03125rem

      &__name
        margin: 0.9375rem 0 0 0.03125rem 

      &__bio
        width: 27.75rem
        font-size: 1.125rem
        line-height: 2rem
        margin: 1.6875rem 0 0 0

  .douglas_hurley
    &__image
      width: 35.504375rem
      height: 44.5rem
      margin: 0 9% 0 0

    &-info
      width: 30.5rem

  .mark_shuttleworth
    &__image
      width: 28.34rem
      height: 40.875rem
      margin: 0 14% 0 0

    &-info
      width: 38.375rem

  .victor_glover
    &__image
      width: 34.649375rem
      height: 40.7rem
      margin: 0 10.9% 0 0

    &-info
      width: 27.0625rem

  .anousheh_ansari
    &__image
      width: 38.473125rem
      height: 37.9375rem
      margin: 0 8.014117647% 0 0

    &-info
      width: 33.25rem

  .tech
    padding: 13.25rem 0 0 10.3125rem

    &-container
      width: 100%
      height: 100%
      margin: 0

    &__image
      order: 3
      width: 32.1875rem
      height: 32.9375rem
      
    &__picker
      order: 1
      height: 18.9375rem
      width: 5rem
      margin: 0
    
    &-info
      width: 32.5rem
      height: 18.9375rem
      margin: 0
      order: 2

      &__name
        font-size: 3.5rem
        line-height: 4rem

      &__description
        width: 27.75rem
        font-size: 1.125rem
        line-height: 2rem
        margin: 0

// @media screen and (min-width: 2000px)
//   html
//     font-size: 140%

// @media screen and (min-width: 2500px)
//   html
//     font-size: 180%

// @media screen and (min-width: 2900px)
//   html
//     font-size: 200%

// @media screen and (min-width: 3200px)
//   html
//     font-size: 225%

// @media screen and (min-width: 3600px)
//   html
//     font-size: 250%


// NAV BACKGROUND DEFAULT FOR MOZILLA

@supports (-moz-appearance:none) 
  .nav
    background-color: rgba(11, 13, 23, 0.9)
    z-index: 4

  @media screen and (min-width: 760px)
    .nav
      background-color: #131720
      z-index: 4
